.App-header {
  text-align: center;

  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding-bottom: 7rem;
}

.App-content {
  display: flex;
  flex-direction: column;
}
